.link {
    text-decoration: none;
    }
    .list {
        list-style-type: none;
    }
    button {
        cursor: pointer;
    }
    .page-header {

    }
    .page-nav {

    }
    .logo {
        font-family: Raleway,  sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4d5ae5;
    }
    .logo-text {
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: #2e2f42;
    }
    .menu {

    }
    .menu-item {

    }
    .adress {

    }
    .adress-item {

    }
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
